body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        z-index: 1000;
        pointer-events: none;
    }

    &__header nav {
        background-color: transparent;
        padding: 10px 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%;
        pointer-events: auto;
    }

    &__header a,
    &__header button {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 15px;
        transition: background-color 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &__main {
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    &__map-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0; // mapa na dole
    }

    &__panels {
        position: absolute;
        top: 5%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 95%;
        pointer-events: none;
        z-index: 10;
        display: flex;
        gap: 1%;
    }

    &__main-panel,
    &__admin-panel,
    &__login-panel {
        pointer-events: auto; // panele są klikalne
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        height: 90%;
        margin: 2%;
    }

    &__main-panel {
        width: 25%; // stała szerokość zamiast %
    }

    &__admin-panel {
        width: 65%; // stała szerokość zamiast %
    }

    &__login-panel {
        width: 30%;
        height: 70%;
        position: absolute;
        right: 0; /* Panel logowania po prawej stronie */
        top: 0;
    }
}

.login-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}