body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__header,
    &__footer {
        height: 5%;
        width: 100%;
        background-color: aquamarine;
    }

    &__panels {
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }
    &__admin-panel {
        flex:3;
        position:absolute;
        margin: 10%;
        width: 50%;
        background-color: #f4f4f4;
        border-right: 1px solid #ddd;
    }
    &__main-panel {
        flex:1;
        margin: 10%;
        width: 50%;
        background-color: #f4f4f4;
        border-right: 1px solid #ddd;
    }

    &__main {
        z-index: 0;
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    &__map-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.login-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}